.rating {
  // default class: .activeContainer (_settings.scss)
  height: 100%;
  width: 100%;

  &_icon {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    padding: 15px;
    background-color: $darkBlue;
  }
  &_subcontainer {
    @include displaySet(flex, column, space-between, null, 22px);
  }
  &_title {
    @include fontSet(Overpass, 1.8rem, $fontBold, null, $white);
  }
  &_text {
    @include fontSet(Overpass, 1rem, $fontNormal, 22px, $lightGray);
  }
  &_choices {
    @include displaySet(flex, row, space-between, center, null);

    .choice {
      position: relative;
      cursor: pointer;
      height: 50px;
      width: 50px;
      border: none;
      border-radius: 50%;
      background-color: $darkBlue;
      @include fontSet(Overpass, 1rem, $fontBold, null, $lightGray);
      overflow: hidden;
      transition: 0.2s ease;

      &.choiceHovered {
        background-color: $orange;
        color: $darkBlue;
      }
      &.choiceActived {
        background-color: $white;
        color: $darkBlue;
      }
    }
  }
  &_submit {
    cursor: pointer;
    height: 45px;
    border: none;
    border-radius: 23px;
    background-color: $orange;
    @include fontSet(Overpass, 1rem, $fontBold, null, $veryDarkBlue);
    letter-spacing: 2px;
    transition: 0.2s ease;

    &.submitHovered {
      background-color: $white;
      color: $darkBlue;
    }
  }
}
