@font-face {
  font-family: Overpass;
  src: url(../fonts/Overpass/Overpass-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 24px;
  background-color: black;
}

main {
  width: 410px;
  height: 415px;
  background-color: #121417;
  border-radius: 26px;
  padding: 32px;
}

.activeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.unactiveContainer {
  display: none;
}

.rating {
  height: 100%;
  width: 100%;
}
.rating_icon {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  padding: 15px;
  background-color: #252d37;
}
.rating_subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 22px;
}
.rating_title {
  font-family: Overpass;
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
}
.rating_text {
  font-family: Overpass;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #959eac;
}
.rating_choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rating_choices .choice {
  position: relative;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  background-color: #252d37;
  font-family: Overpass;
  font-size: 1rem;
  font-weight: 700;
  color: #959eac;
  overflow: hidden;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.rating_choices .choice.choiceHovered {
  background-color: #fb7413;
  color: #252d37;
}
.rating_choices .choice.choiceActived {
  background-color: #ffffff;
  color: #252d37;
}
.rating_submit {
  cursor: pointer;
  height: 45px;
  border: none;
  border-radius: 23px;
  background-color: #fb7413;
  font-family: Overpass;
  font-size: 1rem;
  font-weight: 700;
  color: #121417;
  letter-spacing: 2px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.rating_submit.submitHovered {
  background-color: #ffffff;
  color: #252d37;
}

.thanks {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.thanks_img {
  height: 110px;
  width: 165px;
  margin: 0 auto;
}
.thanks_rate {
  width: 60%;
  margin: 0 auto;
  border-radius: 25px;
  padding: 6px;
  background-color: #252d37;
  font-family: Overpass;
  font-size: 1rem;
  font-weight: 700;
  line-height: 22px;
  color: #fb7413;
  text-align: center;
}
.thanks_title {
  font-family: Overpass;
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.thanks_text {
  font-family: Overpass;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #959eac;
  text-align: center;
}/*# sourceMappingURL=index.css.map */